@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'VT323', monospace;
	letter-spacing: 0.8px;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	@apply bg-pink-800/70;
}

::-webkit-scrollbar-thumb {
	@apply bg-pink-500;
}

::-moz-selection {
	color: white;
	@apply bg-pink-400;
}

::selection {
	color: white;
	@apply bg-pink-400;
}