@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'VT323', monospace;
	letter-spacing: 0.8px;
	overflow: hidden;
}

.stripeback {
	background-image: url('./assets/stripes.png');
	background-repeat: repeat;
}

.border-default {
	/* @apply border-4; */
	@apply border-black/40;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	@apply bg-pink-500;
}

::-moz-selection {
	color: white;
	@apply bg-pink-400;
}

::selection {
	color: white;
	@apply bg-pink-400;
}